---
import MainLogo from "./MainLogo.astro";
import "../styles/components/footer.css"

---
<footer class="footer">
	<div class="footer__container">
		<MainLogo/>
		<div class="foooter__cajas">
		</div>

	</div>
</footer>
